# Python
# Enviornments
env/
# Data for Machine Learning
data/
# Temporary Files
tmp/
# ALS model, since it's too heavy for GitHub
als.model
# Pycache stuff
__pycache__/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
